.gato {
    width: 100vh;
    margin: 0 auto;
	height: 100vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.contenedor-gato {
	width: 25%;
	height: 25%;
	/* position: absolute; */
	align-self: center;
	animation: iddleFrontBack 4s linear infinite, iddleUpDown 4s linear infinite;

}

.contenedor-gato img {
	position: absolute;
	width: 200%;
}

.gato-rainbow {
	left: -40%;
	top: 5%;
	height: 120%;
}

.gato-pierna-izqu-frente{
	transform-origin: 80% 80%;
	transform: rotate(30deg);
}

@keyframes iddleFrontBack {
    0% {
		translate: -100%;
    }

    25% {
        translate: 0;
    }

    50% {
        translate: 100%;
    }

    75% {
        translate: 0;
    }

    100% {
        translate: -100%;
    }
}

@keyframes iddleUpDown {
	0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}